In [1]:
import pandas as pd
from utils import *

In [2]:
old_df = pd.read_pickle("./data/df_gesamt_15_08_prepocessed_einworner_added.pkl")
old_df.drop("Einwohner", inplace=True, axis=1)
new_df = pd.read_pickle("./data/decade_price_data_combined.pkl")
condition = (new_df.reset_index(drop=True).groupby("Qid")["GJ"].apply(lambda x: x.unique().shape[0]) == new_df.reset_index(drop=True).groupby("Qid")["GJ"].count())
new_df = new_df[new_df.Qid.isin(condition[condition].index)]

In [3]:
new_df.columns

Index(['GJ', 'Qid', 'TD01', 'TD02', 'TD03', 'TD04', 'TD05', 'TD06', 'TD07',
       'TD08', 'TD09', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16',
       'TD17', 'TD18', 'TD19', 'TD20', 'TD21', 'TD22', 'TD23', 'TD24', 'TD25',
       'TD26', 'TD27', 'TD28', 'TD29', 'TD30', 'TD31', 'TD32', 'TD33', 'TD34',
       'Ort', 'Preis', 'PLZ', 'Beleuchtet', 'Laenge', 'Breite', 'PPSVACWert',
       'T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'T11',
       'T12', 'T13', 'T14', 'T15', 'T16', 'T17', 'T18', 'T19', 'T20', 'T21',
       'T22', 'T23', 'T24', 'T25', 'T26', 'T27', 'T28', 'T29', 'T30', 'T31',
       'T32', 'T33', 'T34', 'Eigenfläche', 'Stellensubart_1',
       'Stellensubart_2', 'Stellensubart_3', 'Stellensubart_4'],
      dtype='object')

In [4]:
list_of_t = ['TD01', 'TD02', 'TD03', 'TD04', 'TD05', 'TD06', 'TD07',
     'TD08', 'TD09', 'TD10', 'TD11', 'TD12', 'TD13', 'TD14', 'TD15', 'TD16',
     'TD17', 'TD18', 'TD19', 'TD20', 'TD21', 'TD22', 'TD23', 'TD24', 'TD25',
     'TD26', 'TD27', 'TD28', 'TD29', 'TD30', 'TD31', 'TD32', 'TD33', 'TD34', 'Preis']

for i in list_of_t:
    old_df[i] = old_df.Preis

In [5]:
old_df.shape, new_df.shape

((813064, 82), (319594, 82))

In [6]:
combined = pd.concat([new_df, old_df[~(old_df.Qid.isin(new_df.Qid.unique()))]])

In [7]:
combined.shape

(806415, 82)

In [8]:
combined[combined.Qid == 100019.0]

,GJ,Qid,TD01,TD02,TD03,TD04,TD05,TD06,TD07,TD08,...,T30,T31,T32,T33,T34,Eigenfläche,Stellensubart_1,Stellensubart_2,Stellensubart_3,Stellensubart_4
0,2018.0,100019.0,0.000000,0.000,0.000,0.000000,0.000000,0.000,0.000000,6.427,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
52544,2019.0,100019.0,0.650000,0.000,0.000,0.000000,0.000000,0.000,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
106327,2020.0,100019.0,0.000000,0.000,0.000,5.967000,0.000000,5.967,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
160287,2022.0,100019.0,1.176364,0.000,1.294,6.183636,1.294000,0.000,0.000000,0.000,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
213041,2021.0,100019.0,6.427273,0.000,2.156,1.960000,0.715000,0.000,0.000000,0.000,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
268236,2023.0,100019.0,0.000000,1.411,0.000,0.000000,1.282727,0.000,1.282727,0.000,...,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
combined.to_pickle("./data/decade_price_data_combined_01_09.pkl")